
.forgot-password-container {
    max-width: 400px;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0e1ff;
}

.center-h2 {
    text-align: center;
    line-height: 11vh;
}

.forgot-password-description {
    margin-bottom: 46px;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.alert {
    margin-top: 10px;
}

.forgot-password-btn {
    margin-top: 3vh;
    width: 64%;
}
