

/* Stylizacja linków i dodanie efektów przejœcia */
.navbar-nav .nav-link,
.navbar-nav .dropdown-menu {
    transition: all 0.3s ease-in-out;
}

    .navbar-nav .nav-link:hover {
        color: #805ab0;
    }

/* Efekt cieni i animacji skalowania dla logo */
.navbar-brand .logo {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-brand:hover .logo {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efekt przejœcia wysokoœci dla rozwijanego menu */
.navbar-collapse {
    transition: height 0.3s ease-in-out;
}

    .navbar-collapse.collapsing {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .navbar-collapse.collapse.show {
        height: auto;
        transition: height 0.3s ease;
    }

/* Efekt powiêkszenia ikon przy najechaniu */
.img-fav {
    transition: transform 0.3s ease-in-out;
}

    .img-fav:hover {
        transform: scale(1.2);
    }

/* Definiujemy animacje dla rozwijanego menu */
@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stylizujemy rozwijane menu */
.navbar-nav .dropdown-menu {
    display: block; /* Aby animacja dzia³a³a, ale pocz¹tkowo nie by³a widoczna */
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
    border-radius: 5px; /* Zaokr¹glenie rogów */
    padding: 10px 0;
}

.navbar-nav .show > .dropdown-menu {
    animation: fadeInSlideDown 0.3s ease forwards;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
